.about {
	
	//border-bottom: 2px solid #dcdcdc;
	.hero {
		background: url('../assets/img/panorama.jpg');
		background-size: cover;

		.header {
		top: 280px;
		@media(max-width: $small){
			//top: 380px;
			font-size: 3em;
		}
		}
	}

	.sticky-section{
		position: sticky;
		border-bottom: 1px solid black;
		padding: 50px 10%;
		
		}
	.events {
		
		h2{
		text-align: left;
		}
		iframe {
			margin: auto;
			&.mobile {
				display: none;
			}
			&.desktop {
				display: block;
			}
			
			@media (max-width: $small){		
				&.mobile {
					display: block;
				}
				&.desktop {
					display: none;
				}
			}
		}
		span{
			font-size: 24px;
		}

	}
	.kids {
	background-color: #f5f4f0;
    display: block;
    margin: 100px 50px;
    padding: 20px 50px 80px;
	span{
		font-size: 24px;
	}
   
	}
	.contact {
		
		margin: 100px 50px;
    	padding: 20px 50px 80px;
		display: flex;
		flex-wrap: wrap;
		box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
		h2 {
			width: 100%;
			display: block;
			
		}
		form {
			width: 50%;
			input, textarea {
				width: 80%;
				padding: 10px;
				margin: 10px 0;
			}
			.secondary {
				background: $light-black;
				width: 60%;	
				margin-top: 10px;
				&:hover {
					background: #2928282b;
				}

			}

		}
		.right {
			width: 40%;
			background: #8aa127;
			border-radius:  5px;     
			 margin-top: -30px;
			margin-bottom: -90px;
			padding: 20px;
			h3 {
			color: white;
			font-family: 'unisans';
			text-transform: uppercase;
			font-size: 26px;
			}
			
		}
	 	@media(max-width: $small){
			box-shadow: none;
			padding: 0;
			margin: 20px 0;
			flex-direction: column-reverse;
			background: #8aa127;
			form {
				width: auto;
				padding: 30px;
				background: white;
				
			}
			.right{
				width: auto;
				margin: 0;
				padding: 30px;
				
			}
		}
	}
}

