.about {
  //border-bottom: 2px solid #dcdcdc;
  .hero {
    background: url("../assets/img/panorama.jpg");
    background-size: cover;

    .header {
      top: 280px;
      @media (max-width: $small) {
        //top: 380px;
        font-size: 3em;
      }
    }
    @media (max-width: $small) {
      //background: url('../assets/img/panorama-mobile.jpg');
      //background-size: contain;
      background-position-x: center;
    }
  }

  .sticky-section {
    position: sticky;
    border-bottom: 1px solid black;
    padding: 50px 10%;
  }
  .events {
    h2 {
      text-align: left;
    }
    iframe {
      margin: auto;
      &.mobile {
        display: none;
      }
      &.desktop {
        display: block;
      }

      @media (max-width: $small) {
        &.mobile {
          display: block;
        }
        &.desktop {
          display: none;
        }
      }
    }
    span {
      font-size: 24px;
    }
    @media (max-width: $small) {
      margin: 0 0 50px 0;
    }
  }
  .kids {
    background-color: #f5f4f0;
    display: block;
    margin: 100px 50px;
    padding: 20px 50px 80px;
    span {
      font-size: 24px;
    }
  }
}
