.about {
	
	//border-bottom: 2px solid #dcdcdc;
	.hero {
		background: url('../assets/img/panorama.jpg');
		background-size: cover;

		.header {
		top: 280px;
		@media(max-width: $small){
			//top: 380px;
			font-size: 3em;
		}
		}
	}

	.sticky-section{
		height: 500px;
		border-bottom: 1px solid black;
		padding: 50px 10%;
	}

}

