.alert-box {
  background: $light-black;
  color: white;
  text-align: center;
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0px;

  @media (max-width: $small) {
    z-index: 2;
  }

  &.weather {
    background: red;

    @media (max-width: $small) {
      .alert-text {
        //overflow: hidden;
        display: flex;
        white-space: nowrap;
        animation: scroll-alert 12s linear infinite;
      }
    }
  }
}
.alert-marquee {
  overflow: hidden;
  white-space: nowrap;
  padding-top: 10px;
}

.alert-track {
  display: inline-flex;
  width: max-content;
  will-change: transform;
}

.alert-item {
  display: inline-block;
  padding-right: 3rem; /* space between repeats */
}

/* Mobile-only animation */

.alert-track {
  animation: alert-marquee 14s linear infinite;
}

/* Move one full item-width (50% of the track because we duplicated it) */
@keyframes alert-marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
