.mission{
	//height: 700px;
	//background-color: $greige;
	margin-top: -20px;
	//margin-left: -20px;
	color: black;
	font-size: 26px;
	font-family: "roboto light";
	padding: 100px 10%;
	h2{
		text-align: center;
		//font-size: 36px;
		//font-family: unisans;
		
	}

	p {
		text-align: center;
			}

	.list{
		padding: 20px 10px;
		.list-item{
			display: flex;
			padding: 7px 0;
		}
		i {
			position: absolute;
			margin-top: 1px;
		}
		span {
			text-align: left;
			padding-left: 35px;
		}
		li::marker {
			content: '> ';
		}
	}

	@media (max-width: $xsmall){
		font-size: 18px;
	}
	@media (min-width: $xsmall) and (max-width: $small){
		font-size: 18px;
	}
	@media (min-width: $small) and (max-width: $medium){
		font-size: 22px;
	}
}


