.service{
	padding: 50px;
	display: inline-block;
	.left{
		float:left;
		width: 50%;
		text-align: center;
		img{
			height: 350px;
			margin: auto;
		}
	}
	.right{
		float: left;
		width: 50%;
		h2{
			font-family: 'unisans';
			text-align: center;
			font-size: 36px;
		}
		p{
			font-size: 26px;
    		font-family: "roboto light";
    		color: black;
    	}
	}

	@media(max-width: $medium){
		.left{
			width: 100%;

			img {
				height: 250px;
			}
		}
		.right{
			width: 100%;
		}
	}

	@media(max-width: $xsmall){
		.left{
			img{
				height: 150px;
			}
		}
	}
}