.service{
	padding: 50px;
	display: inline-block;
	background: #f5f4f0;
	h2 {
		text-align: center;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	.subheader {
		//font-family: "roboto";
		font-weight: bold;
		text-decoration: underline;
	}
	p{
		font-size: 26px;
		font-family: "roboto light";
		color: #000;
		text-align: center;
	}
	.left{
		float:left;
		width: 45%;
		//padding-inline: 50px;
		//text-align: center;
		img{
			height: 350px;
			margin: auto;
			//box-shadow: -20px 20px 0px 0px $light-black;
		}
	}
	.right{
		float: right;
		width: 45%;
		//padding-inline: 50px;

	}

	@media(max-width: $medium){
		p {
			font-size: 22px;
		}
		.left{
			width: 100%;
			
		}
		.right{
			
			width: 100%;
		}
	}

	@media(max-width: $xsmall){
		.left{
			img{
				//height: 150px;
			}
		}
	}
	@media(max-width: $small){
		p {
			font-size: 18px;
		}
		.right{
			
		}
	}

}