.statement {
    height: 200px;
    text-align: center;
    font-size: 30px;
    margin: 50px;
    margin-top: 0;
    //transform: skew(0deg, -3deg);
    p {
        padding: 70px 40px 0px 40px;
        margin: auto auto;
        font-family: "roboto light";
        
    }

    @media (max-width: $small){
        height: 350px;
    }
}