.watch {
	//background-color: $greige;
	margin-top: 6px;
	//margin-left: -20px;
	color: black;
	font-size: 26px;
	font-family: unisans;
	padding: 100px 0 0px;
	display: inline-block;
	width: 100%;


	.inner {
		//background-color: white;
		
	}

	.left{
		width: 40%;
		float: left;
		text-align: center;
	}
	.right {
		width: 60%;
		float: left;
		text-align: center;
	}
		@media(max-width: $medium){
		padding-top: 0px;
		.left{
			width: 100%;
			margin-bottom: 40px;
			.primary{
				width: 50%;
			}
		}
		.right{
			width: 100%;

		}
	}
			@media(min-width: $medium){
			iframe{
				width: 450px;
				height: 350px;
			}
		}
}

