
.primary {
	background-color: $brightgreen;
	color: $white;
	font-family: unisans;
	padding: 10px;
	width: 100%;
	text-transform: uppercase;
	font-size: 30px;
	border: 3px solid $brightgreen;
	transition: transform .3s ease;
	&:hover{
		background-color: transparent;
		color: $brightgreen;
		border: 3px solid $brightgreen;
		font-weight: bold;
		transform: scale(1.05);
	}
}

.secondary {
	background: transparent;
	border: 3px solid white;
	color: white;
	font-family: unisans;
	padding: 10px;
	width: 100%;
	text-transform: uppercase;
	font-size: 30px;

		&:hover {
		background: $white;
		color: black;

	}
}
/*
.btn-container {
	padding: 100px 50px 0px 50px;
	width: 70%;
	position: relative;
	margin: auto auto;
}*/

.btn-container {
	position: relative;
	margin: auto auto;
	display: flex;

	.primary {
		width: 45%;

	}

    @media(max-width: $medium){
    	.primary{
    		font-size: 28px;
    	}
    }
	@media(max-width: $small){
    	flex-direction: column;

    	.primary {
    		width: 100%;
    		margin: 30px 0 0 0;
    		font-size: 25px;
    	}
    }


}
	.one {
		.primary{
			margin: auto;
		}
	}

	.two {
		.primary{
			@media (min-width: $small){
			margin: 30px;
}		
}
}
	