.form {
  margin: 100px 50px;
  padding: 20px 50px 80px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 21px 41px -13px rgba(0, 0, 0, 0.18);
  h2 {
    width: 100%;
    display: block;
  }
  form {
    width: 50%;
    input,
    textarea {
      width: 80%;
      padding: 10px;
      margin: 10px 0;
    }
    .secondary {
      background: $light-black;
      width: 60%;
      margin-top: 10px;
      &:hover {
        background: #2928282b;
      }
    }
  }
  .right {
    width: 40%;
    background: #8aa127;
    border-radius: 5px;
    margin-top: -30px;
    margin-bottom: -90px;
    padding: 20px;
    h3 {
      color: white;
      font-family: "unisans";
      font-size: 26px;
    }
  }
  @media (max-width: $small) {
    box-shadow: none;
    padding: 0;
    margin: 20px 0;
    flex-direction: column-reverse;
    background: #8aa127;
    form {
      width: auto !important;
      padding: 30px;
      background: white;
      .field {
        width: 100%;
        input,
        textarea {
          width: calc(100% - 20px);
        }
      }
      .secondary {
        width: 100%;
      }
    }
    .right {
      width: auto;
      margin: 0;
      padding: 30px;
    }
  }

  &.contact {
    .right {
      h3 {
        text-transform: uppercase;
      }
    }
  }

  &.prayer {
    margin-top: 50px;
    .checkcontact {
      width: 80%;
      display: flex;
      //justify-content: center;
      align-items: center;

      input {
        width: 10%;
        height: 20px;
      }
    }
    @media (max-width: $small) {
      .left-header {
        display: none;
      }
    }
    .right {
      background: $dark-brown;
      padding-top: 100px;
      h3 {
        text-align: center;
      }
      @media (max-width: $small) {
        padding-block: 20px;
        h2 {
          display: block !important;
          text-align: center;
          color: white;
        }
        h3 {
          font-size: 20px;
        }
      }
    }
  }
  &.email-signup {
    form {
      width: 100%;
      h2 {
        margin-bottom: 10px;
      }
      p {
        font-size: 20px;

        margin-bottom: 30px;
      }
    }
  }
}
