$white: #FFF;
$black: #000;

$greige: #E8E6E9;
$skyblue: #9FC5D8;
$olive: #424C3B;
$maroon: #520000;
$cran: #6E363A;
$moss: #657130;
$rust: #B75031;
$burnt: #87392C;
$darkgray: #3d3d3d;
$alertblue:#283642;
$alertgreen: #444b20;

$cobalt: #4a00e2;
$dark-blue: #110057;
$neutral: #f7f5f9;
$coral: #ff5d55;
$rebrand-gradient: linear-gradient(to right, #ff5d55,#4a00e2);
$dark-blue-hover: #4a00e2;
$grey: #ccc;
$yellow: #FFAA45;
$light-blue: #7CAFD0;


$light-black: #292828;
$brightgreen: #8aa127;
$dark-brown: #302626;


.dark {
    background: $light-black;
    color: white;
    h1, h2, h3 {
        color: $white;
    }

    .option2 {
        color: $darkgray;
	    text-shadow: -1px 1px 0 #d9d9d9,
		1px 1px 0 #d9d9d9,
		1px -1px 0 #d9d9d9,
		-1px -1px 0 #d9d9d9;
    }
}
.green {
    background: #657130;

    .option2 {
    color: #657130;
	text-shadow: -1px 1px 0 #d9d9d9,
		1px 1px 0 #d9d9d9,
		1px -1px 0 #d9d9d9,
		-1px -1px 0 #d9d9d9;
    }
}

.neutral {
	background: $neutral;
}