/* FONT PATH
 * -------------------------- */

@font-face {
	font-family: 'natural';
	src: url('../assets/nature-beauty-font/NatureBeautyPersonalUse-9Y2DK.ttf') format('truetype');
}

@font-face {
	font-family: 'better-grade';
	src: url('../assets/better-grade-font/BetterGrade-519DV.ttf') format('truetype');
}
/*
@font-face {
	font-family: 'mangabey';
	src: url('../assets/mangabey-font/MangabeyRegular-rgqVO.otf') format('opentype');
}*/

@font-face {
	font-family: 'unisans';
	src: url('../assets/uni-sans/Uni Sans Thin.otf') format('opentype');
}
@font-face {
	font-family: 'unisans_thick';
	src: url('../assets/uni-sans/Uni Sans Thick.otf') format('opentype');
}

@font-face {
	font-family: 'roboto';
	src: url('../assets/Roboto/Roboto-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'roboto thin';
	src: url('../assets/Roboto/Roboto-Thin.ttf') format('truetype');
}
@font-face {
	font-family: 'roboto light';
	src: url('../assets/Roboto/Roboto-Light.ttf') format('truetype');
}