h1 {
    font-family: better-grade;
    font-weight: 400;
    margin-bottom: 20px;
    color: black;
    font-size: 100px;
}
h2 {
    font-family: 'unisans';
    font-size: 36px;
    color: black;
    text-transform: uppercase;
    opacity: 1;

    &.sticky {
        position: sticky;
        top: 50px;
    }

}
.option2 {
    color: $white;
	text-shadow: -1px 1px 0 black,
		1px 1px 0 black,
		1px -1px 0 black,
		-1px -1px 0 black;
		font-family: Anton;
		//text-align: center;
		font-size: 36px;
		opacity: 1 !important;
		position: relative;
		
}
.option3 {
    font-family: Anton;
    color : #8aa127;
}
h3 {


}

